<div class="flex md:space-x-8 my-3">
  <div class="hidden md:inline md:w-1/4">
    <div>
      <%= form_with(url: challenges_path, method: :get, id: 'search-form') do |form| %>
        <div class="flex space-x-1.5">
          <%= text_field_tag :search, params[:search], placeholder: t('words.search'), class: UI::FORM_INPUT %>
          <%= submit_tag t('words.search'), class: UI::BUTTON_PRIMARY %>
        </div>
      <% end %>
    </div>
    <div>
      <%= form_with(url: challenges_path, method: :get, id: 'search-form') do |form| %>
        <% @taxonomies.each do |taxonomy| %>
          <div class="my-3">
            <h4 class="<%= UI::H4 %>">
              <%= taxonomy.title %>
            </h4>
            <ul>
              <% taxonomy.taxons.each do |taxon| %>
                <li>
                  <%= check_box_tag "filter[taxon_ids][]", taxon.id, filter_taxon_ids.include?(taxon.id.to_s), id: dom_id(taxon) %>
                  <%= label_tag dom_id(taxon), taxon.title %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= submit_tag t('words.filter'), class: UI::BUTTON_PRIMARY %>
      <% end %>
    </div>
  </div>

  <div class="sm:w-full md:w-3/4 sm:mx-auto">
    <div class="mb-3 bg-blue-50 border border-blue-200 rounded-md p-4" role="alert">
      <div class="flex">  
        <div class="ml-4">
          <h3 class="text-gray-800 font-semibold">
            🇺🇦 STAND WITH UKRAINE
          </h3>
          <div class="mt-2 text-sm text-gray-600">
            This season, most of the tasks participants worked on were related to social IT solutions to help Ukraine with after-war rebuilding.
          </div>
        </div>
      </div>
    </div>

    <div id="welcome" class="mb-3 bg-yellow-50 border border-yellow-200 rounded-md p-4" role="alert">
      <div class="flex">  
        <div class="ml-4">
          <h3 class="text-gray-800 font-semibold">
            🤗 Welcome, to DEV Challenge.
          </h3>
          <div class="mt-2 text-sm text-gray-600">
            <% if current_user&.challenges&.ready&.any? %>
              <%= t('messages.welcome_to_joined') %>
              <% current_user.challenges.ready.each do |challenge| %>
                <%= link_to challenge.title, challenge_path(challenge), class: UI::LINK %>
              <% end %>
            <% else %>
              <%= t('messages.welcome_to_join') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% @challenges.each do |challenge| %>
      <div id="challenge-<%= challenge.id %>" class="bg-white border shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
        <div class="flex justify-between">
          <div>
            <%= link_to challenge_path(challenge) do %>
              <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                <%= challenge.title %>
              </h3>
            <% end %>
          
            <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-gray-500">
              <%= render(UI::TimestampComponent.new(data: challenge.registration_at)) %> - <%= render(UI::TimestampComponent.new(data: challenge.finish_at)) %>
            </p>
          </div>
          <div>
            <%= link_to challenge_path(challenge) do %>
              <%= render(UI::ChallengeStatusComponent.new(challenge: challenge)) %>
            <% end %>
          </div>
        </div>

        <p class="py-5 text-gray-800 dark:text-gray-400">
          <%= challenge.description %>
        </p>

        <%= link_to t("words.details"), challenge_path(challenge), class: UI::LINK %>
      </div>
    <% end %>

    <%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
  </div>
</div>
