<%= challenge.title %>

<div class="my-5">
  <% if current_user && Competition.can_join?(user: current_user, challenge: challenge) %>
    <%= button_to t('words.join'), challenge_members_path(challenge), method: :post, class: UI::BUTTON_PRIMARY %>
  <% elsif current_member && Competition.can_leave?(user: current_user, challenge: challenge) %>
    <%= button_to t('words.leave'), challenge_member_path(challenge, current_member), method: :delete, class: UI::BUTTON_DANGER, form: { data: {turbo_confirm: t('messages.are_you_sure')}} %>
  <% else %>
    <%= render(UI::ChallengeRegistrationInfoComponent.new(challenge:)) %>
    <% if Competition.registration_opened?(user: current_user, challenge: challenge) %>
      <%= link_to "#{t('auth.log_in')} / #{t('auth.register')}", new_user_session_path, class: UI::LINK %>
    <% end %>
  <% end %>
</div>

<div class="my-5">
  <% @tasks.each do |task| %>
    <% if current_member || Auth.admin?(current_user) %>
      <%= link_to task.title, task_path(task) %>
    <% else %>
      <%= task.title %> -> <%= task.start_at %> - <%= task.submit_at %>
    <% end %>
  <% end %>
</div>

<div class="my-5">
  <% if Auth.admin?(current_user) %>
    <%= link_to t('words.edit'), edit_admin_challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
  <% end %>
</div>

<div class="flex items-center justify-between mb-24">
  <%= link_to t('words.back'), root_path, class: UI::BUTTON_SECONDARY %>
</div>
