<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <div class="flex justify-between">
    <h1 class="<%= UI::H1 %> mb-5">
      <%= challenge.title %>
      <% if Auth.admin?(current_user) %>
        <%= link_to t('words.edit'), edit_admin_challenge_path(challenge), class: UI::LINK %>
      <% end %>
    </h1>

    <% if current_user && Competition.can_join?(user: current_user, challenge: challenge) %>
      <%= button_to t('words.join'), challenge_members_path(challenge), method: :post, class: UI::BUTTON_PRIMARY %>
    <% elsif current_member && Competition.can_leave?(user: current_user, challenge: challenge) %>
      <%= button_to t('words.leave'), challenge_member_path(challenge, current_member), method: :delete, class: UI::BUTTON_DANGER, form: { data: {turbo_confirm: t('messages.are_you_sure')}} %>
    <% else %>
      <%= render(UI::ChallengeRegistrationInfoComponent.new(user: current_user, challenge:)) %>
    <% end %>
  </div>
  
  <div class="my-5 flex space-x-5 justify-between">
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.registration') %></h4>
      <%= render(UI::TimestampComponent.new(data: challenge.registration_at)) %>
    </div>
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.finish') %></h4>
      <%= render(UI::TimestampComponent.new(data: challenge.finish_at)) %>
    </div>
  </div>

  <div class="my-5 text-gray-800 dark:text-gray-400">
    <%= challenge.description %>
  </div>

  <nav class="my-12 flex items-center justify-between">
    <% @tasks.each_with_index do |task, idx| %>
      <% if user_authorized_for_task?(task) %>
        <%= link_to task_path(task), class: 'block p-8 rounded-md hover:text-gray-700 hover:bg-gray-50' do %>
          <h3 class="block lg:text-2xl md:text-l sm:text-m font-bold text-gray-800 dark:text-white">
            <%= task.title %>
          </h3>
          <small class="text-sm font-medium">
            <%= render(UI::TimestampComponent.new(data: task.start_at)) %> -
            <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
          </small>
        <% end %>
      <% else %>
        <div class='p-8'>
          <h3 class="block lg:text-2xl md:text-l sm:text-m font-bold text-gray-800 dark:text-white">
            <%= task.title %>
          </h3>
          <small class="text-xs font-light">
            <%= render(UI::TimestampComponent.new(data: task.start_at)) %> -
            <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
          </small>
        </div>
      <% end %>
      <% if idx + 1 < @tasks.size %>
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        <% end %>
    <% end %>
  </nav>
</div>
