<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <div class="flex justify-between">
    <h1 class="<%= UI::H1 %> mb-5">
      <%= challenge.title %>
      <% if Auth.admin?(current_user) %>
        <%= link_to t('words.edit'), edit_admin_challenge_path(challenge), class: UI::LINK %>
      <% end %>
    </h1>

    <%= link_to t('words.back'), challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
  </div>

  <div class="my-5 text-gray-800 dark:text-gray-400">
    <%= challenge.terms_and_conditions %>
  </div>
</div>
