<div class="h-full w-full max-w-xs mx-auto align-middle">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' }) do |f| %>
    <h2 class="text-center">Resend confirmation instructions</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, "Email", class: "block text-sm font-bold mb-2 text-gray-700"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="flex items-center justify-between content-end">
      <%= f.submit "Resend confirmation instructions",
                   class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6rounded focus:outline-none focus:shadow-outline" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
