<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <div class="flex justify-between">
    <h1 class="<%= UI::H1 %> mb-5">
      <%= link_to challenge.title, challenge_path(challenge), class: UI::LINK %> / <%= task.title %>
      <% if Auth.admin?(current_user) %>
        <%= link_to t('words.edit'), edit_admin_challenge_task_path(challenge, task), class: UI::LINK %>
      <% end %>
    </h1>
  </div>

  <div class="my-5">
    <%= task_submission.notes %>
  </div>

  <div id="assessments" class="my-5">
    <% if task_submission.zip_file.present? %>
      <%= link_to t('words.download'), rails_blob_path(task_submission.zip_file, disposition: 'attachment'), class: UI::BUTTON_SECONDARY %>
    <% end %>
  </div>

  <%= form_with(model: task_submission, scope: :task_assessments, url: submission_assessments_path(task_submission:), method: :post, class: "contents") do |form| %>
    <% task_criteria.each do |criteria| %>
      <div class="grid grid-cols-3 gap-5 my-3">
        <h4 class="<%= UI::H4 %>">
          <%= criteria.title %> (Max <%= criteria.max_value %>)
        </h4>
        <div>
          <%= label_tag :value, 'Value', class: UI::FORM_LABEL %>
          <%= number_field_tag "assesment[#{criteria.id}][value]", nil, required: true, max: criteria.max_value, class: UI::FORM_INPUT %>
        </div>
        <div>
          <%= label_tag :value, 'Comment', class: UI::FORM_LABEL %>
          <%= text_field_tag "assesment[#{criteria.id}][comment]", nil, class: UI::FORM_INPUT %>
        </div>
      </div>
    <% end %>

    <div class="flex items-center justify-between">
      <%= form.submit t('words.create'), class: UI::BUTTON_PRIMARY %>
      <%= link_to t('words.back'), task_path(task), class: UI::BUTTON_SECONDARY %>
    </div>
  <% end %>
</div>
