<%= render 'admin/shared/challenge_navbar', selected: :members %>
<div class="flex items-center justify-end space-x-3">
  <%= form_with(url: admin_challenge_members_path(challenge), method: :get, id: 'search-form') do |_form| %>
    <div class="flex items-center space-x-1.5">
      <%= text_field_tag :search, params[:search], placeholder: t('words.search'), class: UI::FORM_INPUT %>
      <%= submit_tag t('words.search'), class: UI::BUTTON_PRIMARY %>
    </div>
  <% end %>
</div>

<table id="members" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.members.user') %>
    </th>
    <th class="text-left">
      <%= t('resources.members.role') %>
    </th>
    <th class="text-left">
      <%= t('resources.members.joined') %>
    </th>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr id="member-<%= member.id %>">
        <td>
          <%= link_to render(UI::UserNameComponent.new(user: member.user)), edit_admin_challenge_member_path(challenge, member), class: UI::LINK %>
        </td>
        <td>
          <%= member.role %>
        </td>
        <td>
          <%= render(UI::TimestampComponent.new(data: member.created_at)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
