<%= render 'admin/shared/challenge_navbar', selected: :members %>

<table id="members" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.members.user') %>
    </th>
    <th class="text-left">
      <%= t('resources.members.role') %>
    </th>
    <th class="text-left">
      <%= t('resources.members.joined') %>
    </th>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr id="member-<%= member.id %>">
        <td>
          <%= link_to render(UI::UserNameComponent.new(user: member.user)), edit_admin_challenge_member_path(challenge, member), class: UI::LINK %>
        </td>
        <td>
          <%= member.role %>
        </td>
        <td>
          <%= render(UI::TimestampComponent.new(data: member.created_at)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
