<div class="<%= UI::PANEL %>">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}, data: {turbo: false}) do |f| %>
    <h2 class="<%= UI::H2 %> text-center mb-5"><%= t('devise.register') %></h2>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="mb-4">
      <%= f.label :full_name, t('devise.full_name'), class: UI::FORM_LABEL %>
      <%= f.text_field :full_name, autofocus: true, class: UI::FORM_INPUT %>
    </div>

    <div class="mb-4">
      <%= f.label :email, t('devise.email'), class: UI::FORM_LABEL %>
      <%= f.email_field :email,autocomplete: "email", class: UI::FORM_INPUT %>
    </div>

    <div class="mb-4">
      <%= f.label :password, t('devise.password'), class: UI::FORM_LABEL %>
      <% if @minimum_password_length %>
      <em class="block text-sm font-normal mb-2 text-gray-900">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: UI::FORM_INPUT %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, t('devise.confirm_password'), class: UI::FORM_LABEL %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: UI::FORM_INPUT %>
    </div>

    <div class="flex items-center justify-between content-end">
      <%= f.submit t('devise.register'), class: UI::BUTTON_PRIMARY %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
