<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <div class="flex justify-between">
    <h1 class="<%= UI::H1 %> mb-5">
      <%= link_to challenge.title, challenge_path(challenge), class: UI::LINK %> / <%= task.title %>
      <% if Auth.admin?(current_user) %>
        <%= link_to t('words.edit'), edit_admin_challenge_task_path(challenge, task), class: UI::LINK %>
      <% end %>
    </h1>

    <%= link_to t('words.back'), challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
  </div>

  <div class="my-5 flex space-x-5 justify-between">
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.start') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.start_at)) %>
    </div>
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.submit') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
    </div>
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.result') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.result_at)) %>
    </div>
  </div>

  <div class="my-5">
    <%= link_to t('words.judges_tutorial'), 'https://devchallenge.notion.site/devchallenge/Judge-s-Tutorial-DEV-Challenge-XIX-f31cf03b4edc4193ac75d49d5625a212', class: UI::LINK  %>
  </div>

  <div class="my-5">
    <h2 class="<%= UI::H2 %>">
      <%= t("resources.task_submissions.plural") %>
    </h2>

    <table id="submissions" class="table">
      <thead>
        <th class="text-left">
          <%= t('resources.task_assessments.points') %>
        </th>
        <th class="text-left">
          <%= t('resources.task_submissions.notes') %>
        </th>
        <th class="text-left">
          <%= t('resources.task_submissions.attachment') %>
        </th>
        <th class="text-left">
          <%= t('resources.task_submissions.assesment') %>
        </th>
      </thead>
      <tbody>
        <% task_submissions.each do |task_submission| %>
          <tr id="submission-<%= task_submission.id %>">
            <td>
              <% if task_submission.task_assessments.select { |ta| ta.judge_id == current_member.id}.any? %>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-indigo-500 text-white">
                  <%= get_judge_assesment(task_submission.task_assessments) %>
                </span>
              <% else %>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-100 text-green-800">
                  <%= t('words.pending') %>
                </span>
              <% end %>
            </td>
            <td>
              <%= task_submission.notes %>
            </td>
            <td>
              <% if task_submission.zip_file.present? %>
                <%= link_to t('words.download'), rails_blob_path(task_submission.zip_file, disposition: 'attachment'), class: UI::BUTTON_SECONDARY %>
              <% end %>
            </td>
            <td>
              <% if task_submission.task_assessments.select { |ta| ta.judge_id == current_member.id }.any? %>
                <%= link_to t('resources.task_assessments.edit'), edit_submission_assessments_path(task_submission), class: UI::BUTTON_SECONDARY %>
              <% else %>
                <%= link_to t('resources.task_assessments.add'), new_submission_assessments_path(task_submission), class: UI::BUTTON_PRIMARY %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
