<%= task.title %>
<%= task.description %>

Start at: <%= render(UI::TimestampComponent.new(data: task.start_at)) %>
Submit at: <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
Result at: <%= render(UI::TimestampComponent.new(data: task.result_at)) %>

<div class="my-5">
  <% if Auth.admin?(current_user) %>
    <%= link_to t('words.edit'), edit_admin_challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
  <% end %>
</div>

<%= t("resources.task_submissions.plural") %>

<table id="submissions" class="table">
  <thead>
    <th>
      <!-- TODO: change it -->
      <%= "id" %>
    </th>
    <th>
      <%= t('resources.task_assessments.points') %>
    </th>
    <th>
      <%= t('resources.task_submissions.notes') %>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @task_submissions.each do |task_submission| %>
      <tr id="submission-<%= task_submission.id %>">
        <td>
          <%= task_submission.id %>
        </td>
        <td>
          <% if task_submission.task_assessments.any? %>
            <%= task_submission.task_assessments.pluck(:value).sum / task_submission.task_assessments.count.to_f %>
          <% else %>
            <%= t('words.pending') %>
          <% end %>
        </td>
        <td>
          <%= task_submission.notes %>
        </td>
        <td>
          <% if task_submission.task_assessments.any? %>
            <%= link_to t('resources.task_assessments.edit'), edit_assessment_path(task_submission.task_assessments.first, task_submission:) %>
          <% else %>
            <%= link_to t('resources.task_assessments.add'), new_assessment_path(task_submission:) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('words.back'), challenge_path(challenge), class: UI::BUTTON_SECONDARY %>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
