<div class="flex items-center space-x-3">
  <div class="text-center">
    <h2 class="<%= UI::H2 %>">
      Members by challenge
    </h2>
    <%= pie_chart Repo::Member.joins(:challenge).where(challenges: {status: 'ready', created_at: 3.month.ago..}).group("challenges.title").count %>
    <div class="text-center my-3">
      <%= link_to admin_challenges_path, class: UI::LINK do %>
        Members (<%= Repo::Member.where(created_at: 3.month.ago..).count %> last 3 month)
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <h2 class="<%= UI::H2 %>">
      Users by time zone (last 3 month)
    </h2>
    <%= pie_chart Repo::User.where(created_at: 3.month.ago..).group(:time_zone).count %>
    <div class="text-center my-3">
      <%= link_to admin_users_path, class: UI::LINK do %>
        New users (<%= Repo::User.where(created_at: 3.month.ago..).count %> last 3 month)
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <h2 class="<%= UI::H2 %>">
      Users by auth strategy (last 3 month)
    </h2>
    <%= pie_chart Repo::User.where(created_at: 3.month.ago..).group(:provider).count %>
  </div>
</div>

<div class="flex items-center space-x-3 py-5">
  <div class="w-full">
    <h2 class="<%= UI::H2 %>">
      Challenge members last month by day
    </h2>
    <%= line_chart members_by_challenge_per_day %>
  </div> 
</div>

<div class="flex items-center space-x-3 py-5">
  <div class="w-full">
    <h2 class="<%= UI::H2 %>">
      Users registrations last month by day (+ <%= Repo::User.where(created_at: [3.days.ago..Time.now]).count %> for last 3 days)
    </h2>
    <%= line_chart Repo::User.where(created_at: 1.month.ago..).group_by_day(:created_at).count %>
  </div> 
</div>
