<div class="h-full w-full max-w-xs mx-auto align-middle">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' }) do |f| %>
    <h2 class="text-center">Resend unlock instructions</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, "Email", class: "block text-sm font-bold mb-2 text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Resend unlock instructions", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
