<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>">
    <%= taxonomy.title %>
    <small>
      <%= link_to t('words.edit'), edit_admin_taxonomy_path(taxonomy), class: UI::LINK %>
    </small>
  </h2>

  <div class="flex justify-between items-center space-x-3">
    <%= link_to t('words.add'), new_admin_taxonomy_taxon_path(taxonomy), class: UI::BUTTON_PRIMARY %>
  </div>
</div>

<ul id="taxons">
  <% @taxons.each do |taxon| %>
    <li id="taxon-<%= taxon.id %>" class="my-2">
      <%= taxon.position %>. <%= link_to taxon.title, edit_admin_taxonomy_taxon_path(taxonomy, taxon), class: UI::LINK %>
    </li>
  <% end %>
</ul>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
