<div class="md:w-2/3 w-full">
  <h2 class="<%= UI::H2 %>">
    <%= task.title %>
  </h2>

  <%= form_with(model: task, scope: :task, url: admin_task_path(task), method: :put, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :title, class: UI::FORM_LABEL %>
      <%= form.text_field :title, autofocus: true, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :title)) %>
    </div>

    <div class="my-5">
      <%= form.label :slug, class: UI::FORM_LABEL %>
      <%= form.text_field :slug, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :slug)) %>
    </div>

    <div class="my-5">
      <%= form.label :challenge, class: UI::FORM_LABEL %>
      <%= form.select :challenge_id, Repo::Challenge.all.pluck(:title, :id), {}, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :challenge)) %>
    </div>

    <div class="my-5">
      <%= form.label :dependent_task, class: UI::FORM_LABEL %>
      <%= form.select :dependent_task_id, @tasks.pluck(:title, :id), {}, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :dependent_task)) %>
    </div>

    <div class="my-5">
      <%= form.label :description, class: UI::FORM_LABEL %>
      <%= form.text_area :description, rows: 4, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :description)) %>
    </div>

    <div class="my-5">
      <%= form.label :min_assestment, class: UI::FORM_LABEL %>
      <%= form.number_field :min_assestment, rows: 4, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :min_assestment)) %>
    </div>

    <div class="flex my-5 items-center justify-between space-x-5">
      <div class="w-full">
        <%= form.label :start_at, class: UI::FORM_LABEL %>
        <%= form.datetime_field :start_at, class: UI::FORM_INPUT %>
        <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :start_at)) %>
      </div>

      <div class="w-full">
        <%= form.label :start_at, class: UI::FORM_LABEL %>
        <%= form.datetime_field :start_at, class: UI::FORM_INPUT %>
        <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :start_at)) %>
      </div>

      <div class="w-full">
        <%= form.label :result_at, class: UI::FORM_LABEL %>
        <%= form.datetime_field :result_at, class: UI::FORM_INPUT %>
        <%= render(UI::ErrorTagComponent.new(errors: task.errors, field: :result_at)) %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit class: UI::BUTTON_PRIMARY %>
      <%= link_to t('words.back'), admin_tasks_path, class: UI::BUTTON_SECONDARY %>
    </div>
  <% end %>

</div>
