<%= render 'admin/shared/challenge_navbar', selected: :tasks %>

<div class="py-5 flex justify-end">
  <%= link_to t('words.add'), new_admin_challenge_task_path(challenge), class: UI::BUTTON_PRIMARY %>
</div>

<table id="tasks" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.tasks.title') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.start_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.submit_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.result_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.dependent_task') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.min_assessment') %>
    </th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task-<%= task.id %>">
        <td>
          <%= link_to task.title, edit_admin_challenge_task_path(challenge, task), class: UI::LINK %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.start_at, highlight_now: true)) %>
          <% if task.start_at.future? %>
            <%= render(UI::CountdownTimerComponent.new(id: "#{task.id}-start-at", countdown_ts: task.start_at)) %>
          <% end %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.submit_at, highlight_now: true)) %>
          <% if task.submit_at.future? %>
            <%= render(UI::CountdownTimerComponent.new(id: "#{task.id}-submit-at", countdown_ts: task.submit_at)) %>
          <% end %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.result_at, highlight_now: true)) %>
          <% if task.result_at.future? %>
            <%= render(UI::CountdownTimerComponent.new(id: "#{task.id}-result-at", countdown_ts: task.result_at)) %>
          <% end %>
        </td>
        <td>
          <% if task.dependent_task %>
            <%= link_to task.dependent_task.title, edit_admin_challenge_task_path(challenge, task.dependent_task), class: UI::LINK %>
          <% end %>
        </td>
        <td class="text-center">
          <%= task.min_assessment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
