<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>">
    <%=  challenge.title %> <%= t('resources.tasks.plural') %>
  </h2>

  <%= link_to t('words.add'), new_admin_challenge_task_path(challenge), class: UI::BUTTON_PRIMARY %>
</div>

<table id="tasks" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.tasks.title') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.start_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.submit_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.result_at') %>
    </th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task-<%= task.id %>">
        <td>
          <%= link_to task.title, edit_admin_challenge_task_path(challenge, task) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.start_at, highlight_now: true)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.submit_at, highlight_now: true)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.result_at, highlight_now: true)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
