<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.tasks.plural') %></h2>

  <%= link_to t('words.add'), new_admin_challenge_task_path(challenge), class: UI::BUTTON_PRIMARY %>
</div>

<table id="tasks" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.tasks.title') %>
    </th>
    <th>
      <%= t('resources.challenges.singular') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.start_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.submit_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.tasks.result_at') %>
    </th>
    <th>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task-<%= task.id %>">
        <td>
          <%= link_to task.title, edit_admin_challenge_task_path(challenge, task) %>
        </td>
         <td>
          <%= link_to task.challenge.title, edit_admin_challenge_path(task.challenge) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.start_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: task.result_at)) %>
        </td>
        <td class="text-center">
          <%= link_to t('resources.task_submissions.plural'), admin_challenge_task_submissions_path(challenge, task) %>
        </td>
        <td class="text-center">
          <%= link_to t('resources.criteria.plural'), admin_task_criteria_path(task) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
