<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <div class="flex justify-between">
    <h1 class="<%= UI::H1 %> mb-5">
      <%= link_to challenge.title, challenge_path(challenge), class: UI::LINK %> / <%= task.title %>
      <% if Auth.admin?(current_user) %>
        <%= link_to t('words.edit'), edit_admin_challenge_task_path(challenge, task), class: UI::LINK %>
      <% end %>
    </h1>

    <%= link_to t('words.back'), challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
  </div>

  <div class="my-5 flex space-x-5 justify-between">
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.start') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.start_at)) %>
    </div>
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.submit') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.submit_at)) %>
    </div>
    <div>
      <h4 class="<%= UI::H3 %>"><%= t('words.result') %></h4>
      <%= render(UI::TimestampComponent.new(data: task.result_at)) %>
    </div>
  </div>

  <div class="my-8 text-gray-800 dark:text-gray-400">
    <h2 class="<%= UI::H2 %> mb-3">
      <%= t('words.description') %>
    </h2>
    <%= task.description %>
  </div>

  <% if (task.start_at..task.submit_at).cover?(Time.zone.now) %>
    <div class="my-8">
      <h2 class="<%= UI::H2 %>">
        <%= t('words.submit') %>
      </h2>
      <%= form_with(model: task_submission, scope: :task_submission, url: (task_submission.new_record? ? task_submissions_path(task) : task_submission_path(task, task_submission)), method: (task_submission.new_record? ? :post : :put), class: "contents") do |form| %>
        <div class="flex my-5 items-center justify-between space-x-5">
          <div class="w-full">
            <%= form.label :notes, class: UI::FORM_LABEL %>
            <%= form.text_area :notes, autofocus: true, class: UI::FORM_INPUT %>
            <%= render(UI::ErrorTagComponent.new(errors: task_submission.errors, field: :notes)) %>
          </div>

          <% if task.require_attachment? %>
            <div class="w-full">
              <%= form.label :zip_file, class: UI::FORM_LABEL %>
              <%= form.file_field :zip_file, autofocus: true, class: UI::FORM_INPUT %>
              <%= render(UI::ErrorTagComponent.new(errors: task_submission.errors, field: :zip_file)) %>
            </div>
          <% end %>
        </div>

        <%= form.submit task_submission.new_record? ? t('words.submit') : t('words.update'), class: UI::BUTTON_PRIMARY %>
      <% end %>

      <div class="flex items-center justify-between mb-24">
        <div class="mt-8 font-semibold">
          <% unless task_submission.new_record? %>
            <%= t('messages.remove_my_submission') %>
            <%= button_to t('words.remove'), task_submission_path(task, task_submission), method: :delete, class: UI::BUTTON_DANGER, form: {data: {turbo_confirm: t('messages.are_you_sure')}} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
