<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>">
    <%= "#{task.title}: #{t('resources.task_submissions.plural')}"%>
  </h2>
</div>

<table id="task_submissions" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.members.user') %>
    </th>
    <th class="text-center">
      <%= t('resources.task_assessments.points') %>
    </th>
    <th class="text-center">
      <%= t('resources.task_assessments.comment') %>
    </th>
    <th>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @task_submissions.each do |task_submission| %>
      <tr id="task_submission-<%= task_submission.id %>">
        <td>
          <%= link_to task_submission.member.user.email, edit_admin_challenge_member_path(challenge, task_submission.member) %>
        </td>
        <td class="text-center">
          <% if task_submission.task_assessment.present? %>
            <%= task_submission.task_assessment&.value %>
          <% else %>
            <%= t('words.pending') %>
          <% end %>
        </td>
        <td class="text-center">
          <%= task_submission.task_assessment&.comment %>
        </td>
        <td class="text-center">
          <% if task_submission.task_assessment.present? %>
            <%= link_to t('resources.task_assessments.edit'), edit_admin_challenge_task_assessment_path(challenge, task, task_submission.task_assessment), class: UI::BUTTON_SECONDARY %>
          <% else %>
            <%= link_to t('resources.task_assessments.add'), new_admin_challenge_task_assessment_path(challenge, task, task_submission_id: task_submission, task_criterium_id: task_criterium), class: UI::BUTTON_SECONDARY %>
          <% end %>
        </td>
        <td class="text-center">
          <%= button_to t('words.remove'), admin_challenge_task_submission_path(challenge, task, task_submission), method: :delete, class: UI::BUTTON_DANGER, form: { data: { turbo_confirm: t('messages.are_you_sure') } } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
