<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.judges.plural') %></h2>
</div>

<table id="judges" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.judges.user') %>
    </th>
    <th>
      <%= t('resources.judges.challenge') %>
    </th>
  </thead>
  <tbody>
    <% @judges.each do |judge| %>
      <tr id="judge-<%= judge.id %>">
        <td>
          <%= render(UI::UserNameComponent.new(user: judge.user)) %>
        </td>
         <td>
           <%= link_to judge.challenge.title, admin_challenge_members_path(judge.challenge) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
