<%= form_with(model: challenge, scope: :challenge, url: admin_challenges_path, method: :post, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :title, class: UI::FORM_LABEL %>
    <%= form.text_field :title, autofocus: true, class: UI::FORM_INPUT %>
    <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :title)) %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit t('words.create'), class: UI::BUTTON_PRIMARY %>
    <%= link_to t('words.back'), admin_challenges_path, class: UI::BUTTON_SECONDARY %>
  </div>
<% end %>
