<%= render 'admin/shared/challenge_navbar', selected: :general %>

<%= form_with(model: challenge, scope: :challenge, url: admin_challenge_path(challenge), method: :put, class: "contents") do |form| %>
  <div id="top-controls" class="py-5 flex justify-end space-x-3">
    <%= link_to t('words.view'), challenge_path(challenge), class: UI::BUTTON_SECONDARY %>
    <%= form.submit t('words.update'), class: UI::BUTTON_PRIMARY %>
  </div>

  <div class="flex my-5 items-center justify-between space-x-5">
    <div class="w-full">
      <%= form.label :status, class: UI::FORM_LABEL %>
      <%= form.select :status, Repo::Challenge.statuses, {}, class: UI::FORM_SELECT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :status)) %>
    </div>

    <div class="w-full">
      <%= form.label :title, class: UI::FORM_LABEL %>
      <%= form.text_field :title, autofocus: true, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :title)) %>
    </div>

    <div class="w-full">
      <%= form.label :slug, class: UI::FORM_LABEL %>
      <%= form.text_field :slug, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :slug)) %>
    </div>
  </div>

    <div class="flex my-5 items-center justify-between space-x-5">
    <div class="w-full">
      <%= form.label :registration_at, class: UI::FORM_LABEL %>
      <%= form.datetime_field :registration_at, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :registration_at)) %>
    </div>

    <div class="w-full">
      <%= form.label :start_at, class: UI::FORM_LABEL %>
      <%= form.datetime_field :start_at, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :start_at)) %>
    </div>

    <div class="w-full">
      <%= form.label :finish_at, class: UI::FORM_LABEL %>
      <%= form.datetime_field :finish_at, class: UI::FORM_INPUT %>
      <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :finish_at)) %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :description, class: UI::FORM_LABEL %>
    <%= form.rich_text_area :description, rows: 4, class: UI::FORM_INPUT %>
  </div>

  <div class="my-5">
    <%= form.label :terms_and_conditions, class: UI::FORM_LABEL %>
    <%= form.rich_text_area :terms_and_conditions, rows: 4, class: UI::FORM_INPUT %>
    <%= render(UI::ErrorTagComponent.new(errors: challenge.errors, field: :terms_and_conditions)) %>
  </div>

  <% if taxonomies.any? %>
    <div class="my-5">
      <h3 class="<%= UI::H3 %>">
        <%= t('resources.taxons.plural') %>
      </h3>
      <div class="flex items-top justify-between space-x-5">
        <% taxonomies.each do |taxonomy| %>
          <div>
            <div class="mt-3">
              <span class="font-semibold">
                <%= taxonomy.title %>
              </span>
            </div>
            <ul>
              <% taxonomy.taxons.each do |taxon| %>
                <li>
                  <%= check_box_tag "taxons[#{taxon.id}", taxon.id, challenge.taxons.include?(taxon), id: dom_id(taxon) %>
                  <%= label_tag dom_id(taxon), taxon.title %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="py-5 flex justify-end space-x-3">
    <%= form.submit t('words.update'), class: UI::BUTTON_PRIMARY %>
  </div>
<% end %>
