<div id="challenges-nav" class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.challenges.plural') %></h2>

  <div class="flex justify-between items-center py-3 space-x-3">
    <%= link_to t('resources.taxonomies.plural'), taxonomies_admin_challenges_path, class: UI::BUTTON_SECONDARY %>
    <%= link_to t('words.add'), new_admin_challenge_path, class: UI::BUTTON_PRIMARY %>
  </div>
</div>

<table id="challenges" class="w-full">
  <thead>
    <th class="text-left">
      <%= t('resources.challenges.status') %>
    </th>
    <th class="text-left">
      <%= t('resources.challenges.title') %>
    </th>
    <th>
      <%= t('resources.challenges.registration_at') %>
    </th>
    <th>
      <%= t('resources.challenges.start_at') %>
    </th>
    <th>
      <%= t('resources.challenges.finish_at') %>
    </th>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr id="challenge-<%= challenge.id %>">
        <td>
          <%= render(UI::ChallengeStatusComponent.new(challenge: challenge)) %>
        </td>
        <td>
          <%= link_to challenge.title, edit_admin_challenge_path(challenge) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.registration_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.start_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.finish_at)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>