<div id="challenges-nav" class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.challenges.plural') %></h2>

  <div class="flex justify-between items-center space-x-3">
    <div>
      <%= form_with(url: admin_challenges_path, method: :get, id: 'search-form') do |form| %>
        <%= text_field_tag :search, params[:search], placeholder: t('words.search') %>
      <% end %>
    </div>
    <%= link_to t('resources.taxonomies.plural'), taxonomies_admin_challenges_path, class: UI::BUTTON_SECONDARY %>
    <%= link_to t('words.add'), new_admin_challenge_path, class: UI::BUTTON_PRIMARY %>
  </div>
</div>

<table id="challenges" class="table">
  <thead>
    <th>
      <%= t('resources.challenges.status') %>
    </th>
    <th>
      <%= t('resources.challenges.title') %>
    </th>
    <th class="text-center">
      <%= t('resources.challenges.registration_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.challenges.start_at') %>
    </th>
    <th class="text-center">
      <%= t('resources.challenges.finish_at') %>
    </th>
    <th>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr id="challenge-<%= challenge.id %>">
        <td>
          <%= render(UI::ChallengeStatusComponent.new(challenge: challenge)) %>
        </td>
        <td>
          <%= link_to challenge.title, edit_admin_challenge_path(challenge) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.registration_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.start_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: challenge.finish_at)) %>
        </td>
        <td class="text-center">
          <%= link_to t('resources.tasks.plural'), admin_challenge_tasks_path(challenge) %>
        </td>
        <td class="text-center">
          <%= link_to t('resources.members.plural'), admin_challenge_members_path(challenge) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
