<div class="<%= UI::PANEL %>">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}, data: {turbo: false}) do |f| %>
    <h2 class="text-center">Log in</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, t('devise.email'), class: UI::FORM_LABEL %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: UI::FORM_INPUT %>
    </div>

    <div class="mb-4">
      <%= f.label :password, t('devise.password'), class: UI::FORM_LABEL %>
      <%= f.password_field :password, autocomplete: "current-password", class: UI::FORM_INPUT %>
    </div>

    <div class="flex items-center justify-between content-end">
      <%= f.submit t('devise.log_in'), class: UI::BUTTON_PRIMARY %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
