<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.users.plural') %></h2>
  <div class="flex justify-between items-center space-x-3">
    <div>
      <%= form_with(url: admin_users_path, method: :get, id: 'search-form') do |_form| %>
        <%= text_field_tag :search, params[:search], placeholder: t('words.search'), class: UI::FORM_INPUT %>
      <% end %>
    </div>
    <%= link_to t('words.add'), new_admin_user_path, class: UI::BUTTON_PRIMARY %>
  </div>
</div>
<table id="users" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.users.email') %>
    </th>
    <th class="text-left">
      <%= t('resources.users.full_name') %>
    </th>
    <th>
      <%= t('resources.users.provider') %>
    </th>
    <th>
      <%= t('resources.users.time_zone') %>
    </th>
    <th>
      <%= t('resources.users.sign_in_count') %>
    </th>
    <th>
      <%= t('resources.users.last_sign_in_at') %>
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td class="text-left">
          <%= link_to user.email, edit_admin_user_path(user), class: UI::LINK %>
        </td>
        <td>
          <%= user.full_name %>
        </td>
        <td>
          <%= user.provider %>
        </td>
        <td >
          <%= user.time_zone %>
        </td>
        <td>
          <%= user.sign_in_count %>
        </td>
        <td>
          <%= render(UI::TimestampComponent.new(data: user.last_sign_in_at)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
