<div class="flex justify-between items-center py-3">
  <h2 class="<%= UI::H2 %>"><%= t('resources.users.plural') %></h2>
  <%= link_to t('words.add'), new_admin_user_path, class: UI::BUTTON_PRIMARY %>
</div>
<table id="users" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.users.email') %>
    </th>
    <th class="text-left">
      <%= t('resources.users.full_name') %>
    </th>
    <th>
      <%= t('resources.users.slug') %>
    </th>
    <th>
      <%= t('resources.users.time_zone') %>
    </th>
    <th>
      <%= t('resources.users.reset_password_sent_at') %>
    </th>
    <th>
      <%= t('resources.users.sign_in_count') %>
    </th>
    <th>
      <%= t('resources.users.current_sign_in_at') %>
    </th>
    <th>
      <%= t('resources.users.last_sign_in_at') %>
    </th>
    <th>
      <%= t('resources.users.current_sign_in_ip') %>
    </th>
    <th>
      <%= t('resources.users.last_sign_in_ip') %>
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td class="text-left">
          <%= link_to user.email, edit_admin_user_path(user) %>
        </td>
        <td class="text-center">
          <%= user.full_name %>
        </td>
        <td class="text-center">
          <%= user.slug %>
        </td>
        <td >
          <%= user.time_zone %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: user.reset_password_sent_at)) %>
        </td>
        <td class="text-center">
          <%= user.sign_in_count %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: user.current_sign_in_at)) %>
        </td>
        <td class="text-center">
          <%= render(UI::TimestampComponent.new(data: user.last_sign_in_at)) %>
        </td>
        <td class="text-center">
          <%= user.current_sign_in_ip %>
        </td>
        <td class="text-center">
          <%= user.last_sign_in_ip %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render(UI::PaginatorComponent.new(paginator: @paginator)) %>
