<%= render 'admin/shared/challenge_navbar', selected: :tasks %>

<%= render 'admin/shared/task_navbar', selected: :submissions %>

<table id="task_submissions" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.members.user') %>
    </th>
    <th class="text-left">
      <%= t('resources.judges.singular') %>
    </th>
  </thead>
  <tbody>
    <% @task_submissions.each do |task_submission| %>
      <tr id="task_submission-<%= task_submission.id %>">
        <td>
          <%= link_to edit_admin_challenge_task_submission_path(challenge, task, task_submission), class: UI::LINK do %>
            <%= render UI::UserNameComponent.new(user: task_submission.member.user) %>
          <% end %>
        </td>
        <td>
          <%= render UI::UserNameComponent.new(user: task_submission&.judge&.user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render UI::PaginatorComponent.new(paginator: @paginator) %>
