<%= render 'admin/shared/challenge_navbar', selected: :tasks %>

<%= render 'admin/shared/task_navbar', selected: :submissions %>

<div class="flex justify-between items-center space-x-3 py-3">
  <div>
    <%= form_with(url: admin_challenge_task_submissions_path(challenge, task), method: :get, id: 'search-form') do |_form| %>
      <div class="flex items-center space-x-1.5">
        <%= text_field_tag :search, params[:search], placeholder: t('words.search'), class: UI::FORM_INPUT %>
        <%= submit_tag t('words.search'), class: UI::BUTTON_SECONDARY %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-between items-center space-x-3">
    <%= link_to t('words.add'), new_admin_challenge_task_submission_path, class: UI::BUTTON_PRIMARY %>
    <%= link_to t('words.import'), new_admin_challenge_task_submissions_import_path, class: UI::BUTTON_PRIMARY %>
  </div>
</div>

<table id="task_submissions" class="table">
  <thead>
    <th class="text-left">
      <%= t('resources.members.user') %>
    </th>
    <th class="text-left">
      <%= t('resources.judges.singular') %>
    </th>
    <th class="text-left">
      <%= t('resources.task_submissions.notes') %>
    </th>
    <th class="text-left">
      <%= t('resources.task_submissions.attachment') %>
    </th>
  </thead>
  <tbody>
    <% @task_submissions.each do |task_submission| %>
      <tr id="task_submission-<%= task_submission.id %>">
        <td>
          <%= link_to edit_admin_challenge_task_submission_path(challenge, task, task_submission), class: UI::LINK do %>
            <%= render UI::UserNameComponent.new(user: task_submission.member.user) %>
          <% end %>
        </td>
        <td id="judges-<%= task_submission.id %>">
          <%= task_submission&.judge&.user&.full_name %>
          <%= link_to "+", admin_challenge_task_submission_judges_path(challenge, task, task_submission), class: UI::LINK %>
          <% task_submission.task_submission_judges.each do |task_submission_judge| %>
            <%= task_submission_judge&.judge&.user&.full_name %>
          <% end %>
        </td>
        <td>
          <%= task_submission.notes %>
        </td>
        <td>
          <% if task_submission.zip_file.present? %>
            <%= link_to t('words.download'), rails_blob_path(task_submission.zip_file, disposition: 'attachment'), class: UI::BUTTON_SECONDARY %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render UI::PaginatorComponent.new(paginator: @paginator) %>
