<!DOCTYPE html>
<html>
  <head>
    <title>Devchallenge Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto mt-3">
    <header class="my-3">
      <nav id="main-nav" class="flex items-center justify-between">
        <div class="flex space-x-5">
          <%= link_to t('words.dashboard'), admin_root_path %>
          <%= link_to t('resources.challenges.plural'), admin_challenges_path %>
        </div>
        <div class="flex space-x-5">
          <%= link_to t('words.app'), root_path %>
          <%= link_to current_user.full_name, edit_user_registration_path %>
          <%= link_to t('auth.log_out'), destroy_user_session_path %>
        </div>
      </nav>
      <p class="font-semibold"><%= notice %></p>
      <p class="font-semibold"><%= alert %></p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
