<!DOCTYPE html>
<html>
  <head>
    <title>Devchallenge Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto mt-3">
    <div class="flex">
      <nav id="main-nav" class="w-1/6">
        <ul>
          <li class="py-1">
            <%= link_to t('words.dashboard'), admin_root_path %>
          </li>
          <li class="py-1">
            <%= link_to t('resources.challenges.plural'), admin_challenges_path %>
          </li>
          <li class="py-1">
            <%= link_to t('resources.tasks.plural'), admin_tasks_path %>
          </li>
          <li class="py-1">
            <%= link_to t('resources.taxonomies.plural'), admin_taxonomies_path %>
          </li>
          <li class="py-1">
            <%= link_to t('resources.judges.plural'), admin_judges_path %>
          </li>
        </ul>
      </nav>
      <div class="w-5/6">
        <header>
          <div class="flex items-center justify-between py-1">
            <div>
              <%= render_breadcrumbs %>
            </div>
            <div>
              <nav id="profile-nav" class="flex space-x-5">
                <%= link_to t('words.app'), root_path %>
                <%= link_to current_user.full_name, edit_user_registration_path %>
                <%= link_to t('auth.log_out'), destroy_user_session_path %>
              </nav>
            </div>
          </div>
        </header>
        <div id="flash-messages">
          <p class="font-semibold"><%= notice %></p>
          <p class="font-semibold"><%= alert %></p>
        </div>
        <main class="mt-5">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
