<!DOCTYPE html>
<html>
  <head>
    <title>Devchallenge Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto mt-3">
    <header class="my-3">
      <p class="font-semibold"><%= notice %></p>
      <p class="font-semibold"><%= alert %></p>
      <nav class="flex items-center space-x-5">
        <% if current_user %>
          <%= link_to t('devise.log_out'), destroy_user_session_path %>
        <% else %>
          <%= link_to t('devise.log_in'), new_user_session_path %>
          <%= link_to t('devise.register'), new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
