<!DOCTYPE html>
<html>
  <head>
    <title>Devchallenge Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto mt-3">
    <header class="my-3">
      <nav id="main-nav" class="flex items-center space-x-5 justify-between py-1">
        <div class="flex space-x-5">
          <%= link_to t('words.home'), root_path %>
        </div>
        <% if current_user %>
          <div class="flex space-x-5">
            <% if Auth.admin?(current_user) %>
              <%= link_to t('words.admin'), admin_root_path %>
            <% end %>
            <%= link_to current_user.full_name, edit_user_registration_path %>
            <%= link_to t('auth.log_out'), destroy_user_session_path %>
          </div>
        <% else %>
          <div class="flex space-x-5">
            <%= link_to t('auth.log_in'), new_user_session_path %>
            <%= link_to t('auth.register'), new_user_registration_path %>
          </div>
        <% end %>
      </nav>
      <p class="font-semibold"><%= notice %></p>
      <p class="font-semibold"><%= alert %></p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
